# Zależności
node_modules/

# Wyniki budowania
/out-tsc/

# Wrażliwe dane
.env
gha-creds-*.json

# Pliki systemowe
.DS_Store
Thumbs.db

# Ustawienia specyficzne dla Twojego edytora, które nie powinny być częścią projektu.
.idea/
.project/
.settings/
.vscode/
# Wyjątki: pozwalamy na dzielenie się konfiguracją zadań i debugowania z zespołem
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/extensions.json

### Cache narzędzi (Tooling Cache) ###
# Pliki tymczasowe generowane przez narzędzia do budowania projektu.
.angular/
.nx/
.sass-cache/

#### reszta do usunięcia###

/dist
/out-tsc
/coverage
/release
*.js.map
!/src/karma.conf.js # Wyjątek dla pliku konfiguracyjnego testów



